// app global css in SCSS form

body {
  //user-select: none;
  //-moz-user-select: none;
  //-webkit-user-select: none;

  font-size: 16px;
}

.override-user-select {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}

